<% content_for :title, "History" %>

<div class="row justify-content-center">
<div class="col-9 border p-1 m-5">
<h1 class="text-center mt-3 m-2 bg-success rounded shadow">Store History</h1>
<hr />
<div class="m-3">
    <% if ! @orders.empty? %>
          <table class="table table-sm table-striped shadow rounded text-center">
            <thead class="thead-dark">
              <tr>
                  <th>Product</th>
                  <th>Data</th>
                  <th>Quantity</th>
              </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
                  <tr class="">
                      <td><%= order.product.title %></td>
                      <td><%= order.created_at %></td>
                      <td><%= order.quantity %></td>
                  </tr>
            <% end %>
            </tbody>
        </table>
    <% else %>
      <table class="table table table-striped shadow rounded text-center mb-4">
          <tr>
            <td colspan="6" class="text-center h4">No Orders</td>
          </tr>
      </table>
    <% end %>
</div>
</div>
</div>