.container-fluid {
    padding: 0
}

.welcome {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6))
                ,url('welcome-bg.jpg');
    background-position: center;
    background-size: cover;
}