<div class="bg-dark text-center text-white p-1">
    <h2>Founders</h2>
    <div class="bg-dark text-center text-white p-3">
        <a href="https://github.com/Ahmed-Saleh-007" class="btn btn-sm mr-3 btn-outline-info text-white">Ahmed Saleh</a>
        <a href="https://github.com/BassamSaadElsafy" class="btn btn-sm mr-3 btn-outline-info text-white">Bassam Saad</a>
        <a href="https://github.com/HossamSalaheldeen" class="btn btn-sm mr-3 btn-outline-info text-white">Hossam Salah</a>
        <a href="https://github.com/IslamShaaban" class="btn btn-sm mr-3 btn-outline-info text-white">Islam Shabban</a>
        <a href="https://github.com/KhaledEl-Gaml" class="btn btn-sm mr-3 btn-outline-info text-white">Khaled Elgamal</a>
        <a href="https://github.com/mohamedegila" class="btn btn-sm mr-3 btn-outline-info text-white">Mohamed egila</a>
    </div>
<p>Website_GitHub &copy; <a href="https://github.com/BassamSaadElsafy/Ecommerce-Rails"> E-commerce</a><p>
</div>